body {
    display: block;
}

#app {
    mix-blend-mode: hard-light;
    width: 360px;
    background: rgba(255, 255, 255, 0.1);
    height: 100vh;
    padding: 20px;
    backdrop-filter: blur(8px);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    overflow: scroll;
}

#app input,
#app textarea {
    font: 16px monospace;
    background: rgba(255, 255, 255, 0.2);
    border: none;
    box-shadow: none !important;
    letter-spacing: -1px;
}

#app textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
    min-height: 132px;
    padding-bottom: 8px;
}

#app .radio-field {
    background: rgba(255, 255, 255, 0.2);
    padding: 12px 10px;
    border-radius: 4px;
}

::selection {
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

input::placeholder {
    color: rgba(0, 0, 0, 0.45) !important;
    font-family: Arial, serif;
}

#app .switch input[type=checkbox] + .check {
    background: rgba(0, 0, 0, 0.3);
}

#app .switch input[type=checkbox]:checked + .check,
#app .switch input[type=checkbox]:checked:hover {
    background: #363636;
}

hr {
    height: 1px;
    background: rgba(255, 255, 255, 0.5);
}

.side-by-side {
    display: flex;
    justify-content: space-between;
}

.side-by-side > * {
    width: calc(50% - 6px);
}

.field:not(:last-child) {
    margin-bottom: 8px;
}
